.page-header{
    padding:40px 0 20px 50px;
    margin:0;
    background:#555;
}
    .page-header h1{
        color:#eee;
        font-weight:bold;
    }

.page-header + .container{
    margin-top:50px;
}

.installation{
    width:750px;
    margin:0 auto;
    font-size:1.2em;
}

.usage{
    margin-top:50px;
    border-top:1px solid #ddd;
    padding-top:10px;
}
